 {% load static %}

<header class="header">
    <div class="container container--narrow">

      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">


          <li class="header__menuItem"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" width="50" > </a></li>


            <li class="header__menuItem"><a href="{% url 'home' %}">HOME</a></li>

            {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'orders' %}">ORDERS</a></li>
          <li class="header__menuItem"><a href="{% url 'invoices' %}">INVOICES</a></li>
          <li class="header__menuItem"><a href="{% url 'customers' %}">CUSTOMERS</a></li>
          <li class="header__menuItem"><a href="{% url 'products' %}">PRODUCTS</a></li>


            <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
            {% else %}
            <li class="header__menuItem"><a href="{% url 'login' %}" class="btn btn--sub">Login/Sign Up</a></li>
            {% endif %}
        </ul>
      </nav>
    </div>
</header>
    <!--
<a href="/">HOME</a>
<a href="/admin">ADMIN</a>

<a href="{% url 'create-order' %}">Add Order </a>
<hr>
    -->