{% extends 'main.html' %}
{% load static %}
{% block content %}

<!-- search bar -->
<main class="projects">
    <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>Search <span>Products</span></h2>
      </div>

      <div class="hero-section__search">
        <form id='searchForm' class="form" action="{% url 'products' %}" method="get">
          <div class="form__field">
            <label for="formInput#search">Search By Product name </label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
              value="{{ search_query }}"
                   placeholder="Search by Product name" />
          </div>

          <input class="btn btn--sub btn--lg" type="submit" value="Search" /><h1 class="btn btn--sub btn--lg" type="button" value="ADD PRODUCT"><a href="{% url 'create-product' %}">+ New</a></h1>

        </form>
      </div>
    </div>
  </section>
<br>

    <!-- products table -->
    <table class="table">
        <tr class="align-center">
            <th>Product</th>
            <th>Grade</th>
            <th>Unit Price</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
            <tr class="align-center">
                <td>{{ product.productName }}</td>
                <td>{{ product.grade }}</td>
                <td>{{ product.unitPrice }}</td>
                <td><a href="{% url 'update-product' product.id %}"><img src="{% static 'images/edit-icon.svg' %}" ></a></td>
            </tr>
        {% endfor %}
    </table>
    <br>

        {% include 'pagination.html' with queryset=products custom_range=custom_range %}

</main>
{% endblock content %}
