{% extends 'main.html' %}
{% load static %}
{% block content %}
<h1 class="align-center">REPORTS</h1>
<hr>
<table class="tableReport">
    <tr>
        <td>Daily Revenue:</td>
        <td>Monthly Revenue:</td>
        <td>Yearly Revenue:</td>
    </tr>
    <tr>
        <td><h2>RM{{ dailyRevenue }}</h2></td>
        <td><h2>RM{{ monthlyRevenue }}</h2></td>
        <td><h2>RM{{ yearlyRevenue }}</h2></td>
    </tr>
    <tr>
        <td><img src="{% static 'charts/daily-revenues.png' %}" ></td>
        <td><img src="{% static 'charts/top-customers.png' %}"></td>
        <td>
            <table class="tableReport">
                <tr>
                    <th>Customer</th>
                    <th class="align-numeric">Revenue</th>
                </tr>
                {% for key, value in topCustomers.items %}
                <tr>
                    <td class="align-center">{{ key }}</td>
                    <td class="align-numeric">RM{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    <tr>
        <td><img src="{% static 'charts/daily-sales.png' %}" ></td>
        <td><img src="{% static 'charts/top-products.png' %}"></td>
        <td>
            <table class="tableReport">
                <tr>
                    <th>Product</th>
                    <th class="align-numeric">Revenue</th>
                </tr>
                {% for key, value in topProducts.items %}
                <tr>
                    <td class="align-center">{{ key }}</td>
                    <td class="align-numeric">RM{{ value }}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
</table>

{% endblock content %}